@charset "utf-8";
@import "reset.css";

header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header .inner {
  width: 1180px;
  height: 120px;
  margin: 0px auto;
  position: relative;
}
header .inner h1 {
  position: absolute;
  left: 0px;
  bottom: 15px;
}
header .inner h1 a {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #444;
}
header .inner .util {
  position: absolute;
  top: 20px;
  right: 30px;
}
/* header .inner .util::after {
  content: "";
  display: block;
  clear: both;
} */
header .inner .util li {
  float: left;
}
header .inner .util li a {
  display: block;
  font-size: 12;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999;
  padding: 0px 10px;
}
header .inner #gnb {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
header .inner #gnb li {
  float: left;
}
header .inner #gnb li a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #555;
  padding: 20px 40px;
  transition: all 0.5s;
}
header .inner #gnb li a:hover {
  background-color: #555;
  color: #fff;
}
figure {
  position: relative;
}
figure .wrapper {
  position: absolute;
  top: 10px;
  left: 50px;
}
figure .wrapper .item {
  float: left;
  width: 30px;
  height: 30px;
  background-color: #999;
  margin-right: 10px;
}
